.portfolio-slider {
  margin-top: 3rem;
  width: 22rem;
  height: auto;

  .swiper-slide {
    width: 20rem;
    height: 22rem;
    padding: 0 1rem;
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

// .swiper-pagination-bullet {
//   width: 0.5rem;
//   height: 0.5rem;
//   background: #004384;
//   opacity: 1;
// }

.new-line {
  white-space: pre-line;
}